{% extends "base.html" %}

{% block content %}
<h1>Types list</h1>


<p>
    <a href="{% url 'menu:types_list' %}">
        Annulla / Torna indietro
    </a>
</p>

<form action="" method="post">
    {% csrf_token %}

    {{ form | crispy }}

    <input type="submit" value="Salva">
</form>

{% endblock %}

