{% extends "base.html" %}

{% block content %}
<h1>Type {{ object.id }}: {{object.name}}</h1>

<p>
    <a href="{% url 'menu:types_list' %}">
       Go back to drinks' list
    </a>
</p>

<p>{{ object.description }}</p>

<hr>
<ul>
    {% for el in object.drinks.all %}
         <li>{{ el.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
