{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Confirm elimination</h1>

<p>
    <a href="{% url 'menu:types_list' %}">
        Annulla / Torna indietro
    </a>
</p>
<p>Confirm type elimination "{{ object.name }}"</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm">
</form>

{% endblock %}