{% extends "base.html" %}

{% block content %}
<h1>Lista di Categorie</h1>


{% for el in object_list %}
    <p>
        {{ el.id }}) {{ el.nome }} -
        <a href="{% url 'menu:type_detail' el.id %}">
            Visualizza dettaglio
        </a>
        (
        <a href="{% url 'menu:edit_type' el.id %}">
            Modifica
        </a>
        -
        <a href="{% url 'menu:delete_type' el.id %}">
            Elimina
        </a>
        )
    </p>
{% endfor %}

<hr>

<p>
    <a href="{% url 'menu:new_type' %}">
        Crea nuova
    </a>
</p>

{% endblock %}